*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    /* flex-basis: auto; */
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* column-gap: 3rem; */
    /* flex-wrap: wrap; */
    
}
.item{
position: relative;
flex-wrap: wrap;


}
h1{
    position: absolute;
    top: 0;
    background-color: black;
color: white;
padding: 1rem;
flex-wrap: wrap;
opacity: 0.8;
}
@media screen and (max-width : 500px) {
    .container{
     display: grid;
      grid-template-columns:auto;
      

    }
}
@media screen and (width > 500px) and (width < 900px){
    .container{
     display: grid;
      grid-template-columns: auto auto;
    gap: 5rem;
     
    }
    /* .item{
         grid-column: 1/2;

    } */
}
@media screen and (min-width : 900px) {
    .container{
     display: grid;
      grid-template-columns: repeat(4,30rem);
    column-gap: 5rem;
    }
}