*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* gap: 0; */
    scrollbar-width: none;

}
.item1{
    /* width: 100vw; */
    display: flex;
   justify-content:space-between;
   font-size: 3em;
}
.bi{
    font-size: 1.5em;
}
.container2{
    width: 100vw;
    height: 100vh;
    display: block;
    display: flex;
    flex-wrap: wrap;

}
img{
    width: 23vw;
   
    font-size: 3em;
}
/* @media screen and (width>400){
  .container{
    display: flex;
  }  
} */
@media screen and (max-width: 400px) {
.container{
   display: block;
}
}
 .item{
    /* border: 2px solid; */
   width: 25vw;
   font-size: 2em;
    /* justify-content: center;
   justify-items: center; */
 }
/* .container{
    width: 100vw;
    height: 100vh;
    /* justify-content: space-evenly; */
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    

*/
 .container3{
    /* width: 100vw;
    display: flex;
    justify-content: center;
    justify-items: center;
    font-size: 10rem; */
 }